# Introduction to Python

## Python Data Types I
We will learn more about data structures in the upcoming class. This will be just an introduction to Numbers and Strings. We will talk about other data structures in Lesson 2. 
1. Integers
2. Float
3. Strings
4. Lists
5. Dictionaries
6. Tuples
7. Sets

### Integers

In [1]:
# a is an integer

a = 5 # Creates a variable a and assigns five to it

print(a) # prints variable a

type(a) # prints the type of variable a

5

int

In [2]:
isinstance(a, int) # checks if a is an instance of the integer class

True

In [3]:
isinstance(5.2, int) # checks if 5.2 is an instance of the integer class

False

In [6]:
isinstance(5., int) # checks if 5. is an instance of the integer class

False

### Floats

In [7]:
# b is a floating point

b = 2.5 # Creates a variable b and assigns 2.5 to it

print(b) # prints variable b

type(b) # prints the type of variable b

2.5

float

In [8]:
isinstance(b, float) # checks if b is an instance of the float class

True

In [9]:
isinstance(b, int) # checks if b is an instance of the integer class

False

### Strings

In [10]:
a = 5

In [11]:
a = '5'

In [12]:
a = 'i love being in the NE    '

In [13]:
b = 'and my fav city is NYC'

In [14]:
a + ' ' + b

'i love being in the NE     and my fav city is NYC'

In [15]:
len(a)

26

In [16]:
# String literals can be enclosed by either double or single quotes 

s = 'hi'             # creates a variable s and 
#assigns the word "hi" to it

# Characters in a string can be 
#accessed using the standard [ ] syntax

print(s[1])          # prints the second character of string s

print(len(s))        # prints the length of the string s 
#(how many characters it has)

print(s + ' there')  # concatenates s and there and 
#prints the combined sentence

i
2
hi there

In [17]:
myname = 'marina' # creates a variable myname and assigns marina to it

myname[2] # accesses and returns the third character of string myname

'r'

########################################################################

## Python Data Types I - Operations

Order of Operations
Python's order of operations works just like math's:
* Parentheses
* Exponents
* Multiplication and division
* Addition and subtraction

### Basic Math Operations
<img src="http://drive.google.com/uc?export=view&id=1fzFGnFdqiY2rqk5TrC00VI4j8b692OGr">

In [18]:
a = 9 # Creates a variable a and assigns 9 to it

b = 2 # Creates a variable b and assigns 2 to it

In [19]:
a+b # Returns a plus b, which is 11

11

In [20]:
a-b # Returns a minus b, which is 7

7

In [24]:
a**b  # Returns ato the power of b, 
#which is 9^2, which is 9 times 9 = 81

81

In [25]:
a%b # returns the remainder when a is divided by b

1

In [26]:
a/b # divides a by b and returns the result

4.5

In [27]:
a//b # divides a by b and returns the result before the decimal points. 

    # This is called integer division

4

In [28]:
pow(a, b)   # Returns a to the power of b so 
#this is the same with a**b = 9**2 = 9^2 = 81

81

In [29]:
pow(8, 2)   # Returns 8 to the power of 2 = 64

64

In [30]:
a = -16     # Creates a variable a and assigns -16 to it

In [31]:
a = abs(a)  # assigns the absulate value of a to a. 
            # So basically this overwrites the previous value of a.
            # Initially a was -16 and now it is 16.
        
a

16

In [32]:
a**(1/2) # a to the power of 0.5. This is basically sqrt of 16

4.0

In [33]:
a**0.5 # a to the power of 0.5. This is basically sqrt of 16

4.0

#######################################################################

### Comparison Operations

<img src="http://drive.google.com/uc?export=view&id=1EY04FpQRum6OgE_Y7z66Morz6QLucdO9">

In [34]:
# comparison operator

a = 5 # Creates a variable a and assigns 5 to it

b = 6 # Creates a variable b and assigns 6 to it

b<a # Compares if b is less than a and return the result

False

In [35]:
# comparison operator

a = 5 # Creates a variable a and assigns 5 to it

b = 5 # Creates b variable a and assigns 5 to it

a == b # Checks if the value of a is the same 
#with the value of b and returns the result

True

In [36]:
# this might not be the case in some other languages

a = 5 # Creates a variable a and assigns 5 to it

b = 5. # Creates b variable a and assigns 5 to it

a == b # Checks if the value of a is the same with 
#the value of b and returns the result

# a is not qual to b because a is integer whereas b is float

True

In [37]:
type(a)

int

In [38]:
type(b)

float

In [39]:
type(a) == type(b)

False

In [40]:
# comparison operator and negation

a = 5 # Creates a variable a and assigns 5 to it

b = 5 # Creates a variable b and assigns 5 to it

not(a == b) # checks if a is equal to b and 
#negates the result and then return the result. 

# !(a == b) will not work

False

In [41]:
a != b

False

########################################################################

### String Operations

* The "slice" syntax is a handy way to refer to sub-parts of sequences, typically strings and lists. 
* The slice s[start:end] is the elements beginning at start and extending up to but not including end. Suppose we have s = "Hello"

<img src="http://drive.google.com/uc?export=view&id=1qLA2J9Lo-W-McPLG3IQIO3h2z0l6X_Zb">

In [60]:
s = 'Hello' # creates a string s and assigns hello to it

In [64]:
s[0]

'H'

In [63]:
s[-len(s)]

'H'

In [65]:
s[1:4] # prints'ell' chars starting at index 1 and 
#extending up to but not including index 4

'ell'

In [66]:
s[1:] # prints 'ello' -- omitting either index defaults 
# to the start or end of the string

'ello'

In [67]:
s

'Hello'

In [68]:
s[:] # prints 'Hello' -- omitting both always 
# gives us a copy of the whole thing 
#(this is the pythonic way to copy a sequence like a string or list)

'Hello'

In [69]:
s.lower()  # returns the lowercase of the string

'hello'

In [70]:
s.upper() # returns the uppercase version of the string

'HELLO'

In [72]:
s = ' Hello' # creates a string s and assigns Hello to it 

            # see that hello has a white space in front of it
s

' Hello'

In [73]:
s = s.strip() # returns a string with whitespaces 
#removed from the start and end

s

'Hello'

In [74]:
s.startswith('h') # checks if the string starts with h

False

In [75]:
s.startswith('H') # checks if the string starts with H

True

In [76]:
s.endswith('o')  # checks if the string ends with o

True

In [79]:
s.find('l') #searches the text s to see if it contains l 
# returns the index value where l occurs the first time

2

In [80]:
s.find('o') #searches the text s to see if it contains o
# returns the index value where o occurs

4

In [81]:
s.replace('lo', 'p') #returns a string where all 
#occurrences of 'lo' have been replaced by 'p'

'Help'

In [82]:
len(s) #  returns the length of string s

5

In [84]:
sentence = ' winter is coming'

In [85]:
sentence.strip().split(',') #returns a list of substrings 
#separated by a given delimiter.

['winter is coming']

In [87]:
sentence.split(' ') #returns a list of substrings separated 
#by the given delimiter.

['', 'winter', 'is', 'coming']

In [90]:
xxx = sentence.strip().split(' ') # strips the white space 
#returns a list of substrings separated by the given delimiter.

In [91]:
xxx

['winter', 'is', 'coming']

In [92]:
len(xxx)

3

########################################################################

## Python Data Types II

### Python Lists

* List literals are written within square brackets [ ]

* Lists can be written as a list of comma-separated values (items) between square brackets.

* A list in Python are like  a suitcase with different items - dresses jeans socks, etc.

In [42]:
list1 = ['math', 'econ', 'Drexel', 2018] # Creates a variable list1 
#and assigns the given list


list2 = [1, 2, 3, 4, 5] # Creates a variable list2 and 
#assigns the given list


list3 = ["a", "b", "c", "d"] # Creates a variable list3 and 
# assigns the given list

__Accessing Values in Lists__
* To access values in lists, use the square brackets for slicing along with the index or indices to obtain value available at that index.

* Because lists are sequences, indexing and slicing work the same way for lists as they do for strings.


<img src="http://drive.google.com/uc?export=view&id=1Uis_XIh4WvsCWHG5tYPQWlLu-mXUhbBh">

In [43]:
list3

['a', 'b', 'c', 'd']

In [44]:
list3[0] # Accessing the first element of list3 
         # remember the first element has an index of 0

'a'

In [45]:
list3[2] # Accessing the third element of list3 
         # remember the thirdelement has an index of 2

'c'

In [46]:
list3[2:4] # Accessing the elements from index 2 to index 4 (4 is not included)

['c', 'd']

__List can hold elements of different types__

In [47]:
a = ['a', '2', 'c', '-', 4.2]   
# Creates a variable "a" and assigns the given list 
# Lists can hold items with various datatypes (string, integer, etc.)

print(a) # Prints the list a

['a', '2', 'c', '-', 4.2]

__Common List Operators__

<img src="http://drive.google.com/uc?export=view&id=1jp3r37GA7bvJSVSqMLUZhTFE4ROlF5aC">

In [48]:
list1 = [10, 20, 30, 40] # Creates a variable "list1" 
# and assigns the given list 

list2 = [5, 15, 25, 35]  # Creates a variable "list2" 
# and assigns the given list

In [49]:
len(list1) # Gives the number of elements in list 1

4

In [50]:
max(list1)

# Returns the maximum number in list 1 
# if this is a list of strings, 
    # this function will check characters alphabetically
# max(['a', 'axs', 'zeb']) will return zeb
# If a list contains both numbers and string, 
    # this function will given an error

40

In [51]:
min(list1)

# Returns the minimum number in list 1 
# if this is a list of strings, 
    # this function will check characters alphabetically
# min(['a', 'axs', 'zeb']) will return a
# If a list contains both numbers and string, 
    # this function will given an error

10

__Add a single item into a list__

In [52]:
list1 = [4, 5, 6, 8] 
# Creates a variable list1 and assigns the given list to it

list1.append(5) 
# adds another element (5 to list1)

list1

[4, 5, 6, 8, 5]

In [53]:
list1 = [4, 5, 6, 8] 
# Creates a variable list1 and assigns the given list to it

list1.append([5,5,5,5]) 
# adds another element ([5,5,5,5] to list1
# Note that this element is a list itself

list1

[4, 5, 6, 8, [5, 5, 5, 5]]

__Add multiple items into a list__

In [54]:
list_new = [4, 5, 6, 8] # Creates a variable list1 and assigns the given list to it

list_new.extend([-10, 5, -100]) # adds elements to list1
                            # Note that the elements are added differently than the append method

list_new


# Note that list1 below has 5 elements. The last element is a list itself
# list_new, on the other hand, has 7 elements.

[4, 5, 6, 8, -10, 5, -100]

__WARNING - APPEND VS EXTEND__

In [57]:
list1 = [4, 5, 6, 8] 
# Creates a variable list1 and assigns the given list to it

list1.extend(5) 
# You want to add a single item to a list, use append not extend

list1

TypeError: 'int' object is not iterable

__Count how many times an element occurs in a list__

In [58]:
list1 = [4, 5, 6, 8, 8, 8] # Creates a variable list1 
#and assigns the given list to it

list1.count(8) # Counts the number of occurances of 8 in list 1

3

__Get the index of an element__

In [59]:
list1 = [4, 5, 6, 8, 8, 8] # Creates a variable list1 
#and assigns the given list to it

list1.index(6) # returns the index of 6 in list 1

2

__Remove elements from a list__

In [60]:
list1 = [4, 5, 6, 8, 8, 8] # Creates a variable list1 
#and assigns the given list to it

list1.remove(5) #removes the given element (5) from list1

list1

[4, 6, 8, 8, 8]

__Sort a list__

In [61]:
list1 = [9, 5, 6, 4, 8, 7] # Creates a variable list1 and assigns the given list to it

list1.sort() # sorts the in ascending order

list1

[4, 5, 6, 7, 8, 9]

In [62]:
list1 = [9, 5, 6, 4, 8, 7] # Creates a variable list1 
#and assigns the given list to it

sorted(list1, key=int, reverse=False) # Sorts a given list 
#in ascending order

list1

[9, 5, 6, 4, 8, 7]

########################################################################

### Python sets

A set contains an unordered collection of unique and immutable objects. The set data type is, as the name implies, a Python implementation of the sets as they are known from mathematics. This explains, why sets unlike lists or tuples can't have multiple occurrences of the same element

In [63]:
list1 = [5, 5, 6, 6, 8, 9, 10, 11, 11] 
# Creates a variable list1 and assigns the given list to it

set1 = set(list1) # casts the list1 into a set 
#and remove the duplicates

set1

{5, 6, 8, 9, 10, 11}

__Find the elements occuring in one list and not occuring in another__

In [70]:
set1 = set([5, 5, 6, 6, 8, 9, 10, 11, 11]) 
# Creates a variable named set1 and assigns the given set

set2 = set([5, 6, 6, 100])
# Creates a variable named set2 and assigns the given set

print(set1, set2) # prints the sets

{5, 6, 8, 9, 10, 11} {100, 5, 6}

In [71]:
set1.difference(set2)

{8, 9, 10, 11}

__Find elements occuring in both lists__

In [72]:
set1.intersection(set2)

{5, 6}

__Combining two lists without any duplicates__

In [73]:
set1.union(set2)

{5, 6, 8, 9, 10, 11, 100}

########################################################################

### Python dictionaries

* Like lists dictionaries can easily be changed, can be shrunk and grown

* Dictionaries can be contained in lists and vice versa. 

* What's the difference between lists and dictionaries? 

    * Items in dictionaries are accessed via keys and not via their position.  
    * Any key of the dictionary is associated (or mapped) to a value. 
    * Each key is separated from its value by a colon (:), the items are separated by commas, and the whole thing is enclosed in curly braces. 
    * An empty dictionary without any items is written with just two curly braces, like this: {}.
    * Keys are unique within a dictionary while values may not be.

In [74]:
# Creates a dictionary 
dict1 = {'Name': ['Jack', 'Marina', 'Aric', 'Sundar', 'Pooja'], 
         'Occupation': ['Engineer', 'Engineer', 'Doctor',
                        'Scientist', 'Dentist'], 
         'Age': [37, 32, 32, 30, 30], 
         'City': 'Philadelphia'}
dict1

{'Name': ['Jack', 'Marina', 'Aric', 'Sundar', 'Pooja'],
 'Occupation': ['Engineer', 'Engineer', 'Doctor', 'Scientist', 'Dentist'],
 'Age': [37, 32, 32, 30, 30],
 'City': 'Philadelphia'}

In [75]:
dict1['Name'] # access the dict1 
#and then returns the values where the key is "Name"

['Jack', 'Marina', 'Aric', 'Sundar', 'Pooja']

In [76]:
dict1['Name'][0] 
# access the dict1 
# and then returns the first element of values where the key is "Name"

'Jack'

__Add a key to a dict__

In [77]:
dict1.keys()

dict_keys(['Name', 'Occupation', 'Age', 'City'])

In [78]:
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
# Creates a dictionary dict1 and assigns the key and value pairs

dict1

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [79]:
dict1.keys()

dict_keys(['Name', 'Age', 'Class'])

In [80]:
dict1['School'] = 'Ridge High'
# Adds another key to dictionary dict1

dict1

{'Name': 'Zara', 'Age': 7, 'Class': 'First', 'School': 'Ridge High'}

__Remove a key from a dict__

In [81]:
del dict1['Name'] # remove entry with key 'Name' from dict1

dict1

{'Age': 7, 'Class': 'First', 'School': 'Ridge High'}

__Access Keys in a dict__

In [82]:
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
# Creates a dictionary dict1 and assigns the key and value pairs

dict1.keys() # returns the keys of a dict

dict_keys(['Name', 'Age', 'Class'])

__ Find how many keys in a dict__

In [83]:
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
# Creates a dictionary dict1 and assigns the key and value pairs

len(dict1) #returns the number of keys in dict1

3

In [84]:
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
# Creates a dictionary dict1 and assigns the key and value pairs

len(dict1.keys()) # returns the keys of a dict and then the length

3

__Checks if a key is in a dict__

In [85]:
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
# Creates a dictionary dict1 and assigns the key and value pairs

'Name' in dict1 # Checks if key 'Name' exists in dict1

True

In [86]:
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
# Creates a dictionary dict1 and assigns the key and value pairs

'Last Name' in dict1 # Checks if key 'Last Name' exists in dict1

False

In [87]:
'5':10, '5.6': 12, '8':18

SyntaxError: illegal target for annotation (Temp/ipykernel_16832/2407219501.py, line 1)

#######################################################################

## Python Functions

* A function is a block of organized, reusable code that is used to perform a single, related action. 
* Functions provide better modularity for your application and a high degree of code reusing.

   * Function blocks begin with the keyword def followed by the function name and parentheses

   * Any input parameters or arguments should be placed within these parentheses. You can also define parameters inside these parentheses

   * The code block within every function starts with a colon (:) and is indented

   * The statement return [expression] exits a function
   * A return statement with no arguments is the same as return None

In [91]:
#general function sructure in python is__

def function_name(parameter1, parameter2): # add more parameters in 
                               # paranthesis if needed

    
    # do something - the code neccessary for your function to do
    # what you want it to do will go here
    
    
    return # return result

In [92]:
def sum_two_numbers(a, b): # names the function as sum 
                # and indicates that te function takes two arguments
        
    sum_v = a + b 
    # creates a variable named sum_v and assigns the value as a+b
    
    return sum_v # returns the value of sum_v

In [93]:
sum_two_numbers(10, 15)

25

In [94]:
def pound_to_kg(weight): # names the function as sum 
                # and indicates that te function takes one argument
                # this argument weight in lb 
            
    kg = weight*0.453592 # 1lb is 0.453592 kg.
                        # so we multiply the weight by 0.453592
        
    
    return kg # returns the weight in kg

In [95]:
pound_to_kg(150)

68.0388

In [96]:
pound_to_kg(20)

9.07184

In [97]:
def get_perimeter_square(a):
    
    return 4*a

In [98]:
get_perimeter_square(10)

40

In [99]:
def get_area_square(a):
    return a*a

In [100]:
get_area_square(5)

25

########################################################################